.nav-style {
  margin-bottom: 0;
  min-height: 30px;
}

.hotusa-img {
  max-height: 40px;
  margin-left: 15px;
  padding:5px;
}

.dd {
  padding-bottom: 10px;
  padding-top:10px;
  min-height: 30px;
}

.ddMenu {
  min-width: 100px;
  margin-top: 200px;
  align-content: center;
}

.ddOptions {
  margin-top: 32px;
}

.ddImage {
  //width:40px;
  height: 40px;
}
