.nav-style {
  max-height: 40px;
  margin-left: 15px;
  padding:5px;
}

.hotusa-img {
  max-height: 40px;
  margin-left: 15px;
  padding:5px;
}

.ddMenu {
  min-width: 100px;
  margin-top: 200px;
  align-content: center;
}

.ddOptions {
  margin-top: 32px;
}

.ddImage {
  height: 40px;
}
