<div class="container-fluid white-bg">
  <div class="row row-cols-2">
    <div class="col-sm-10">
      <span>
        <img alt="Hotusa" class="nav-style navbar-minimalize " src="../../../../assets/images/profile/grupoHotusa.png">
      </span>
    </div>
    <div class="col-1 col-xs-1 d-flex justify-content-end" align="center">
      <div class="dropdown nav"  ngbDropdown>
        <a class="basic-dropdown dropdown-toggle" ngbDropdownToggle>
          <i class="fa fa-image"></i>
        </a>
        <ul role="menu" class="dropdown-menu ddMenu" ngbDropdownMenu>
          <ng-container *ngFor="let i of backgroundImage">
           <li role="menuitem">
              <a class="dropdown-item" (click)="setBackgroundImage(i)">
                <img src="{{i}}" class="ddImage">
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="col-1 col-lg-1">
      <div class="dropdown nav" ngbDropdown>
        <a class="basic-dropdown dropdown-toggle" ngbDropdownToggle>
          {{'COMMON.LANGUAGE'|translate}}
        </a>
        <ul class="dropdown-menu m-t-xs ddMenu" ngbDropdownMenu>
          <ng-container *ngFor="let loc of langList">
            <li role="menuitem">
              <a class="dropdown-item"  (click)="changeLang(loc.code)">
                <img src="{{loc.flag}}">
                {{ loc.lang }}
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
