.pointer{
  cursor: pointer;
}
.form-control, .btn{
  border: 1px solid #e7eaec
}

.form-control, .btn{
  border: 1px solid #e7eaec
}

.btn{
  color: #6b6e70 !important;
  background-color: #ffffff;
  border: 1px solid #e7eaec;
}
.btn:hover,.btn:focus, .btn:active{

  outline:none !important;
  background-color: #e6e6e6;
}
.btn:active{
  box-shadow: 0 2px 5px rgb(0 0 0 / 15%) inset;
  color: #6b6e70 !important;
  border: 1px solid #e7eaec;
}


th{
  background-color: #F5F5F6;
  border: 1px solid #e7e7e7;
  padding: 8px;
}
label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.group-box{
  position: relative;
  margin-bottom: 40px;
}
.group-items{
  position: absolute;
  right: 1%;
}
.contrato{
  position: relative;
  padding-top: 25px;
}
.fecha{
  position: absolute;
  margin-left: 25px;
  margin-top: -10px;
}

.carencia{
  position: absolute;
  margin-top: -10px;
}
.checkbox-box{
  height: 199px
}
.economy-box{
  overflow: hidden;
}
