
.pointer{
  cursor:pointer
}
.remove-caret::after {
  display: none !important;
}

.cross{
 color: #000;
}

.cross:hover{
  color: #000;
}

.parent-center{
  display: table;
}
.centred{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float:right;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  position: absolute;
  top: 2%;
  right: 1.5%;
}
.btn-search:hover{
  border-color: #d2d2d2;
}
.btn-search{
  border-color: #e7eaec;
  color: #676a6c !important

}
.btn{
  border-radius: 3px;
}
.btn:active{
  color: #676a6c !important
}

.btn-search:focus{
  border-color: #d2d2d2;
}
.btn-search:active{
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%) !important;
  background-image: none;
  outline: 0;
  border-color: #d2d2d2;
}

.btn-save:hover{
  border-color: #1ab394;
  background-color: #1ab394;
}
.btn-save{
  color: white !important;
  border-color: #1ab394;
  background-color: #1ab394;
}
.btn-save:focus{
  border-color: #1ab394;
  background-color: #1ab394;
}
.btn-save:active{
  color: white !important;
  background-color: #1ab394;
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%) !important;
  background-image: none;
  outline: 0;
  border-color: #1ab394;
}

.heigt-35{
  height:35px;
}
.btn-history:hover,.btn-history:focus,.btn-history:active{
  color: #333!important;
  border: 0px;

}
.btn-history:active{
box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}
.btn-history{
  border: 0px;
  color:#6b6e70 !important;
  background-color: #efefef;
}
.nodeTable{

  min-width: 300px;
  border: 0px !important;
  tr,td{
    border: 0px !important;
  }
}


.dataTable{
  min-width: 400px;
  background: inherit;
  border: 0px !important;
  margin: 0 auto;
  max-width: 700px;
  tr{
    td{
      padding: 8px;
      font-size: 13px;
      border: 0px !important;

    }
    border: 0px !important;
  }


}

.green{
  color: #0f8007;
}
.dataItem{
  padding-left: 25px;
}
.blue{
  color: #0000FF;
}

table{
  overflow: auto;
  display: block;
}

.parent{
  background-color: #fff;

  display:  flex;
  justify-content: left;
  align-items: center;
  overflow-x: hidden;}
.child{

}

.action{
  min-width: 81px;
}
.allWidth{
  width: -webkit-fill-available;
}
.searchSeparator{
  margin: 9px;
  opacity: 0;
}
