<div>
  <div class="float-right" ><button class="btn btn-history" (click)="historyButton = !historyButton">
    <i *ngIf="historyButton" class="fa fa-eye"></i>
    <i *ngIf="!historyButton" class="fa fa-eye-slash"></i>
    <span *ngIf="!historyButton">{{" "}}{{"HISTORY.BUTTONOPEN" | translate}}</span>
    <span *ngIf="historyButton">{{" "}}{{"HISTORY.BUTTONHIDE" | translate}}</span>
  </button></div>
  <div class="heigt-35"></div>
  <div *ngIf="historyButton" class="card">
    <div class="card-title">
      <i class="fa fa-refresh"></i> {{"HISTORY-TITLE" | translate}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <span>{{"HISTORIAL.EXCHANGE" | translate}}</span>

          <ng-select [items]="tiposRelacion"
                     bindLabel="v"
                     bindValue="k"
                     [multiple]="true"
                     placeholder="Select cities"
                     [(ngModel)]="action">
          </ng-select>

        </div>
        <div class="col-3">
          <span>{{"HISTORIAL.FROM" |translate}}</span>
        </div>
        <div class="col-3">
          <button class="btn btn-search" (click)="getHistory();"><i class="fa fa-search"></i> {{"HISTORIAL:SEARCH"|translate}}</button>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-sm-6 ">
          <label>{{"SHOW" | translate }} <select class="form-select" [(ngModel)]="nItems"><option>10</option><option>25</option><option>50</option><option>100</option></select> entries</label></div>
        <div class="col-sm-6"><label>Search: <input class="form-control input-sm" [(ngModel)]="userSearch" type="text"></label></div>
      </div>
      <div class="row">
        <table class="m-3 table-striped table-bordered table-hover ">
          <tr>
          <th *ngFor="let field of fields">{{field |translate}}</th>
          </tr>
          <tr>
            <td *ngFor="let field of fields"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div  *ngIf="historyButton" class="m-4">

  </div>
</div>
