<div>
  <div class="float-right" ><button class="btn btn-history" (click)="historyButton = !historyButton">
    <i *ngIf="historyButton" class="fa fa-eye"></i>
    <i *ngIf="!historyButton" class="fa fa-eye-slash"></i>
    <span *ngIf="!historyButton">{{" "}}{{"HISTORY.BUTTONOPEN" | translate}}</span>
    <span *ngIf="historyButton">{{" "}}{{"HISTORY.BUTTONHIDE" | translate}}</span>
  </button></div>
  <div class="heigt-35"></div>
  <div *ngIf="historyButton" class="card">
    <div class="card-title">
      <i class="fa fa-refresh"></i> {{"HISTORY-TITLE" | translate}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <span>{{"HISTORIAL.EXCHANGE" | translate}}</span>

          <ng-select [items]="tiposRelacion"
                     bindLabel="v"
                     bindValue="k"
                     [multiple]="true"
                     placeholder="Select cities"
                     [(ngModel)]="action">
          </ng-select>

        </div>
        <div class="col-3">
          <span>{{"HISTORIAL.FROM" |translate}}</span>
        </div>
        <div class="col-3">
          <button class="btn btn-search" (click)="getHistory();"><i class="fa fa-search"></i> {{"HISTORIAL:SEARCH"|translate}}</button>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-sm-6 ">
          <label>{{"SHOW" | translate }} <select class="form-select" [(ngModel)]="pageSize"><option>10</option><option>25</option><option>50</option><option>100</option></select> entries</label></div>
        <div class="col-sm-6"><label>Search: <input class="form-control input-sm" (change)="searchName($event)" [(ngModel)]="userSearch" type="text"></label></div>
      </div>
      <div class="row">
        <table class="p-3 table table-striped table-bordered table-hover ">
          <thead>
            <tr>
              <th *ngIf="fields.includes('USER')" >{{'USER' | translate}}</th>
              <th *ngIf="fields.includes('ACTION')" >{{'ACTION' | translate}}</th>
              <th *ngIf="fields.includes('DATE')" >{{'DATE' | translate}}</th>
              <th *ngIf="fields.includes('DATA')" >{{'DATA' | translate}}</th>
              <th *ngIf="fields.includes('NODE')" >{{'NODE' | translate}}</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let log of itemList | slice: (currentPage-1) * pageSize : currentPage * pageSize">
            <td *ngIf="fields.includes('USER')" >{{log.user | translate}}</td>
            <td *ngIf="fields.includes('ACTION')" >{{log.action | translate}}</td>
            <td *ngIf="fields.includes('DATE')" >{{log.date | translate}}</td>
            <td *ngIf="fields.includes('DATA')" >
              <table class="dataTable table table-borderless ">
                <tbody class="dataTable">
                <tr>
                  <td><strong>nombre:</strong></td>
                  <td *ngIf="log.data.from !== '∅';else noDat"><span class="green"> {{log.data.from}}</span></td>
                  <td><i class="fa fa-long-arrow-right"></i></td>
                  <td *ngIf="log.data.to !== '∅';else noDat"><span class="green">{{log.data.to}}</span></td>
                  <ng-template #noDat>
                    <td> ∅</td>
                  </ng-template>
                </tr>
                </tbody>
              </table>
            </td>
            <td *ngIf="fields.includes('NODE')">
              <table class="nodeTable innerTD">
                <tbody class="innerTD">
                <tr class="innerTr">
                  <td ><strong>neo_id</strong></td>
                  <td >{{log.node.id}}</td>
                </tr>
                <tr class="innerTr">
                  <td class="innerTD"><strong>nombre</strong></td>
                  <td class="innerTD">{{log.node.nombre}}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
        <ngb-pagination *ngIf="!(counter<=pageSize)" class="d-flex justify-content-end" [collectionSize]="counter" [pageSize]="pageSize" [(page)]="currentPage" size="sm" >
          <ng-template ngbPaginationPrevious><</ng-template>
          <ng-template ngbPaginationNext>></ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
  <div  *ngIf="historyButton" class="m-4">

  </div>
</div>
