<div *ngIf="userData.hasOwnProperty('menu')" class="container">
  <div class="header-profile">

    <h5 class="border-bottom pt-4">
      <fa-icon class="text-white" [icon]="crmIcon"></fa-icon>
      Neo
    </h5>

    <img src="../../../../assets/images/profile/LogoKeytelBlanco.png"
         alt="logo keytel" style="width: 3rem" *ngIf="isExpandedFlag">

    <div *ngIf="isExpandedFlag">
      <span> {{userData.details.nombre}} {{userData.details.apellido1}}</span>
      <div class="dropdown nav" ngbDropdown>
        <a class="dropdown-toggle count-info dd " style="color: darkgray; cursor: pointer; text-decoration: none;"
           ngbDropdownToggle>
          {{"PERFIL.USER." + userData.details.perfil | translate}}
        </a>
        <ul class="dropdown-menu m-t-xs ddMenu" ngbDropdownMenu>
          <li role="menuitem"><a class="dropdown-item"> Perfil </a></li>
          <li class="dropdown-divider"></li>
          <li><a class="dropdown-item"> Cerrar sesión </a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <div style="margin: 10%; font-size: small">
    <a data-bs-toggle="collapse" href="crm_inicio" aria-expanded="false" style="color: white">
      <fa-icon [icon]="getIcon('fa-home')"></fa-icon>
      <span *ngIf="isExpandedFlag">{{ "MENU.INICIO" | translate}}</span>
    </a>
  </div>
  <!--  <app-menu-list></app-menu-list>-->


  <!--  <ng-container *ngFor="let item of userData.menu.menuList">-->
  <!--    <div ngbAccordionButtonItem [collapsed]="true" style="margin: 10%; font-size: small;">-->
  <!--      <dic></dic>-->
  <!--      <a ngbAccordionHeader data-bs-toggle="collapse" [href]="item.link_pag" aria-expanded="false" [attr.aria-controls]="item.descripcion" style="color: white">-->
  <!--        <fa-icon [icon]="getIcon(item.icono)"></fa-icon>-->
  <!--        <span *ngIf="isExpandedFlag">-->
  <!--        {{item.descripcion.replaceAll("_", ".")|translate}} </span>-->
  <!--      </a>-->
  <!--&lt;!&ndash;      menu items -> {{item.descripcion}}&ndash;&gt;-->
  <!--      <div ngbAccordionCollapse *ngIf="item.subMenu.length > 0">-->
  <!--        <div ngbAccordionBody *ngFor="let sub of item.subMenu" [id]="item.id">-->
  <!--          {{sub.descripcion.replaceAll("_", ".")|translate}}-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </ng-container>-->


  <!--  WORSK-->
  <!--  <ng-container *ngFor="let item of userData.menu.menuList">-->
  <!--    <div *ngIf="item.subMenu.length<=0">-->
  <!--      <div style="margin: 10%; font-size: small;">-->
  <!--        <a data-bs-toggle="collapse" [href]="item.link_pag" aria-expanded="false" [attr.aria-controls]="item.descripcion" style="color: white">-->
  <!--          <fa-icon [icon]="getIcon(item.icono)"></fa-icon>-->
  <!--          <span *ngIf="isExpandedFlag">-->
  <!--          {{item.descripcion.replaceAll("_", ".")|translate}} </span>-->
  <!--        </a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div *ngIf="item.subMenu.length>0" class="accordion">-->
  <!--      <div style="margin: 10%; font-size: small;" >-->


  <!--        <a class="accordion-header" [href]="item.link_pag" aria-expanded="false" [attr.aria-controls]="item.descripcion"-->
  <!--           style="color: white" data-bs-toggle="collapse" data-bs-target="#" aria-expanded="true" aria-controls="">-->
  <!--          <fa-icon [icon]="getIcon(item.icono)"></fa-icon>-->
  <!--          <span *ngIf="isExpandedFlag">-->
  <!--          {{item.descripcion.replaceAll("_", ".")|translate}} </span>-->
  <!--        </a>-->
  <!--        <div *ngFor="let sub of item.subMenu" [id]="sub.descripcion">-->
  <!--          {{sub.descripcion.replaceAll("_", ".")|translate}}-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </ng-container>-->


  <!--COMPONENTES-->

 <!-- <ul class="list-group">
    <li
      routerLink="component-uno"
      routerLinkActive="active"
      class="list-group-item "
    >
      Componente uno
    </li>
    <li
      routerLink="component-dos"
      routerLinkActive="active"
      class="list-group-item "
    >
      Componente dos
    </li>

  </ul>
-->


  <!--ANTIGUO MENU-->

  <!--<ng-container *ngFor="let item of userData.menu.menuList">
    <div *ngIf="item.subMenu.length<=0">
      <div class="accordion" [id]="item.description">
        <div class="accordion-item">
          <a class="accordion-header">
            <fa-icon [icon]="getIcon(item.icono)"></fa-icon>
            <span *ngIf="isExpandedFlag">
              {{item.descripcion.replaceAll("_", ".")|translate}}
            </span>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="item.subMenu.length>0">
      <div class="accordion" [id]="item.description">
        <div class="accordion-item">
          <a class="accordion-header">
            <fa-icon [icon]="getIcon(item.icono)"></fa-icon>
            <span *ngIf="isExpandedFlag">
              {{item.descripcion.replaceAll("_", ".")|translate}}
            </span>
          </a>
          <div *ngFor="let sub of item.subMenu" [id]="sub.descripcion">
            <div class="accordion-collapse collapse show" aria-labelledby=""></div>
            {{sub.descripcion.replaceAll("_", ".")|translate}}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
-->

  <!--ANTIGUO MENU-->


  <!--MIO-->

  <ng-container *ngFor="let item of userData.menu.menuList; let i = index">
    <!--DIVS para menus SIN submenu-->
    <ul class="list-group crm-ul">

      <div *ngIf="item.subMenu.length <= 0">
        <li class="list-group-item crm-ul">
          <div [id]="'accordion-' + i">

            <button class="accordion-button" type="button">

              <fa-icon [icon]="getIcon(item.icono)" class="menu-icon"></fa-icon>

              <span *ngIf="isExpandedFlag" class="sidenav-item"
                    (click)="itemAction(item.descripcion + ' - id padre -> ' + i)">
                {{ formatName(item.descripcion) | translate }}
              </span>

            </button>
          </div>
        </li>
      </div>

      <!--DIVS para menus CON submenu-->

      <div *ngIf="item.subMenu.length > 0">
        <li class="list-group-item crm-ul">

          <div class="mb-1" [id]="'accordion-' + i">

            <h3 class="accordion-header">

              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#accordion-' + i + '-collapse'">

                <fa-icon [icon]="getIcon(item.icono)" class="menu-icon"></fa-icon>

                <span *ngIf="isExpandedFlag" class="sidenav-item">
                {{ formatName(item.descripcion) | translate }}
              </span>
                <span class="submenu-arrow"></span>
              </button>
            </h3>

            <div [id]="'accordion-' + i + '-collapse'" class="accordion-collapse collapse"
                 [attr.aria-labelledby]="'accordion-' + i + '-header'">

              <div class="accordion-body">

                <ul class="list-group crm-ul">

                  <li class="list-group-item crm-ul-sub mt-1" *ngFor="let sub of item.subMenu"
                      [id]="sub.descripcion"
                      (click)="itemAction(sub.descripcion + ' - id padre -> ' + i)"
                  >
                    {{ formatName(sub.descripcion) | translate }}

                  </li>
                </ul>
              </div>
            </div>
          </div>

        </li>

      </div>

    </ul>
  </ng-container>


  <!--MIO-->


  <!--  <app-menu-list [menuList]="menuList"></app-menu-list>-->

  <!--  <div class="accordion" id="accordionExample">-->
  <!--    <div class="accordion-item">-->
  <!--      <h2 class="accordion-header" id="headingOne">-->
  <!--        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
  <!--          Accordion Item #1-->
  <!--        </button>-->
  <!--      </h2>-->
  <!--      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">-->
  <!--        <div class="accordion-body">-->
  <!--          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="accordion-item">-->
  <!--      <h2 class="accordion-header" id="headingTwo">-->
  <!--        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
  <!--          Accordion Item #2-->
  <!--        </button>-->
  <!--      </h2>-->
  <!--      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">-->
  <!--        <div class="accordion-body">-->
  <!--          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="accordion-item">-->
  <!--      <h2 class="accordion-header" id="headingThree">-->
  <!--        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
  <!--          Accordion Item #3-->
  <!--        </button>-->
  <!--      </h2>-->
  <!--      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">-->
  <!--        <div class="accordion-body">-->
  <!--          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
