//@import '../../styles.scss';

#wrapper {
  width: 100%;
  overflow-x: hidden;
}

.middle-box {
  width: 400px;
  margin-top: 8%;
  //background: $background-opacity;
  padding: 13px;
}

.logo-style {
  font-size: 107px;
}

.text-up {
  color: white;
}
.text {
  font-size: 13px;
  color: white;
}

.sign-in,
.sign-in:hover {
  color: #0D6EFD;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.logo-name {
  color: white;
  font-size: 107px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}

