.loginscreen.middle-box {
  width: 400px;
}

.logBg {
  background: rgba(47,64,80,.8);
  padding: 13px;
}

.logo-style {
  font-size: 107px;
}

.text-up {
  //font-size: 16px;
  color: #ffffff;
}
.text {
  font-size: 13px;
  color: #ffffff;
}

.sign-in {
  color: #21c6a9;
}
