<div class="container-fluid">
  <top-nav-login></top-nav-login>
  <div class="d-flex justify-content-center text-center">
    <div class="col-auto middle-box">
      <span class="logo-name logo-style">
        <fa-icon [icon]="faShare"></fa-icon>
        Neo
      </span>
      <h3 class="text-up">{{'LOGIN.BIENVENIDO'|translate}}</h3>
      <p class="text">{{'LOGIN.DESCRIPCION'|translate}}</p>
      <p class="text">{{'LOGIN.ENTRADA'|translate}}</p>

      <form [formGroup]="loginForm" (submit)="login()">
<!--      <form [formGroup]="loginForm" (submit)="login2()">-->
          <input
            type="text"
            class="form-control input-text"
            placeholder="{{'LOGIN.NOMBRE_USER'|translate}}"
            formControlName="username"
            required
          >
          <input
            type="password"
            class="form-control input-text"
            placeholder="{{'LOGIN.PASS'|translate}}"
            formControlName="password"
            required
          >
          <input type="submit"
           class="btn btn-primary input-button vertical-timeline-block full-width mb-1"
           value="{{'COMMON.LOGIN'|translate}}"
          >
      </form>
      <p class="m-t text"><small>{{'LOGIN.SUB_TEXT'|translate}}</small></p>
      <div *ngIf="user">{{user.nombre}} {{user.apellido1}}</div>
<!--      <p class="m-t text"><small>{{test}}</small></p>-->
      <a class="sign-in">{{'LOGIN.SOLICITAR_ALTA'|translate}}</a>
    </div>
  </div>
</div>
