
#wrapper {
  width: 100%;
  overflow-x: hidden;
}

.middle-box {
  width: 400px;
  margin-top: 3%;
  background: rgba(47,64,80,.8);
  padding: 13px;
}

.logo-style {
  font-size: 107px;
}

.text-up {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.text {
  font-size: 13px;
  color: white;
}

.sign-in {
  color: #1ab394;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
}

.login {
  background-color: #1ab394;
  border-color: #1ab394;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.login:hover {
  background-color: #18a689;
  border-color: #18a689;
}

.logo-name {
  color: white;
  font-size: 107px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}
