<div>
  <div>
    <div >
      <h5>{{ 'LINKS.FORM-TITLE' | translate}}</h5>
    <div class="fadeInRight">
      <div class="card rounded-0 mx-4 my-4 body-right">
        <div class="card-content">
          <div class="card rounded-0 mx-4 mt-3">
            <div class="card-title mt-1 border-bottom">
              <div class="mx-3 my-3"><label>{{ 'LINKS.CRITERIA' | translate}}</label></div>
            </div>

            <div class="card-content  mx-3 my-3">
              <form [formGroup]="linkForm" (submit)="getLinks()">
                <div class="row">
                  <div class="col-sm-3">
                    <label>{{ 'LINKS.TYPE' | translate}}</label>
                    <select class="form-select rounded-0" formControlName="categoria" >
                      <option [value]="type.k" *ngFor="let type of types" >{{type.v | translate}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label>{{ 'LINKS.DESCRIPTION' | translate}}</label>
                    <input type="text" class="form-control" formControlName="descripcion">
                  </div>
                  <div class="col-sm-6">
                    <label>{{ 'LINKS.LINK' | translate}}</label>
                    <input type="text" class="form-control" formControlName="link">
                  </div>
                </div>
                <div class ="row">
                  <div class="">
                    <div>&nbsp;</div>
                    <button type="submit" class="btn btn-search float-right"  style="color: #676a6c !important;"><i class="fa fa-search"></i> {{'GLOBAL.SEARCH'|translate}} </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card rounded-0 mx-4 mt-4 mb-5">
            <div class="card-title border-bottom">
              <div class="table-title mx-3 my4" >

                <div class=" my-3 float-left">{{counter}} {{'LINKS.RESULTS'|translate}}</div>
                  <div class="justify-content-md-end-me-2 me-2 my-1 float-right margin-auto" >
                    <button type="button" class="btn btn-add btn-sm mt-1" (click)="open(newLink)"><i class="fa fa-plus dark-plus"></i></button>
                  </div>
              </div>
            </div>

            <div class="card-content mx-3 my-2 mb-5">
              <div>
                <table class="mx-2 table table-bordered" >
                  <tr class="background-title">
                    <th>{{"LINKS.TYPE" | translate}}</th>
                    <th>{{"LINKS.DESCRIPTION" | translate}}</th>
                    <th>{{"LINKS.LINK" | translate}}</th>
                    <th class="white-space"></th>
                  </tr>
                  <tr *ngFor="let element of rowData  | slice: (currentPage-1) * pageSize : currentPage * pageSize" >
                    <td>{{element.c | translate}}</td>
                    <td><a class="no-decoration" href="{{element.link}}" [innerHTML]="element.description"></a></td>
                    <td><span [innerHTML]="element.name"></span></td>
                    <div class="btn-group dropdown">
                      <button class="btn btn-danger  btn-sm mx-2 my-2"  [value]="element.value" (click)="deleteLinks(element.value)"><i class="fa fa-trash-o"></i> {{'LINKS.DELETE' | translate}}</button>
                    </div>
                    </tr>
                </table>

                <ngb-pagination *ngIf="!(counter<=pageSize)" class="d-flex justify-content-end" [collectionSize]="counter" [pageSize]="pageSize" [(page)]="currentPage" size="sm" >
                  <ng-template ngbPaginationPrevious><</ng-template>
                  <ng-template ngbPaginationNext>></ng-template>
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #newLink let-modal  class="modal-lg rounded-0">
      <div class="modal-header  rounded-1">
        <button type="button" class="close row" data-bs-dismiss="modal" (click)="modal.dismiss('close')">
          <span aria-hidden="true">×</span>
          <span class="sr-only ">Close</span></button> <!--TODO: Translate -->
        <h4 class="modal-title centred" >{{'LINKS.NEW' | translate }}</h4>
      </div>

      <div class="modal-body rounded-0" >
        <form class="mt-2 mb-3 mx-3" [formGroup]="newForm">
          <div class="row">
            <div class="col-sm-3">
              <small>{{ 'LINKS.TYPE' | translate}}</small>
              <select class="form-select rounded-0" formControlName="categoria"  >
                <option [value]="type.k" *ngFor="let type of types" >{{type.v | translate}}</option>
              </select>
            </div>
            <div class="col-sm-9">
              <small>{{ 'LINKS.DESCRIPTION' | translate}}</small>
              <input type="text" class="form-control" formControlName="descripcion">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <small>{{ 'LINKS.LINK' | translate}}</small>
              <div class="input-group flex-nowrap">
                <span class="input-group-text rounded-0" >http://</span>
                <input type="text" class="form-control" formControlName="link">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" data-bs-dismiss="modal" (click)="modal.dismiss('close')">{{'LINKS.CLOSE' | translate}}</button>
            <button type="submit" class="btn btn-primary" (click)="createLink()" ><i class="fa fa-plus"> </i>{{'LINKS.CREATE' | translate}}</button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
