<div>
  <div>
    <div>
      <h5>{{ 'LINKS.FORM-TITLE' | translate}}</h5>
    </div>
    <div >
      <div class="card rounded-0 mx-4 my-4" style="width: 99%">
        <div class="card-content">
          <div class="card rounded-0 mx-4 mt-3">
            <div class="card-title mt-1 border-bottom">
              <div class="mx-3 my-3">{{ 'LINKS.CRITERIA' | translate}}</div>
            </div>
            <div class="card-content  mx-3 my-3">
              <form [formGroup]="linkForm" (submit)="getLinks()">
                <div class="row">
                  <div class="col-sm-3">
                    <label>{{ 'LINKS.TYPE' | translate}}</label>
                    <select class="form-control" formControlName="categoria" >
                      <option value="" *ngFor="let element of types" [value]="element.k" [selected]="element.k==='Otros'">{{element.v | translate}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label>{{ 'LINKS.DESCRIPTION' | translate}}</label>
                    <input type="text" class="form-control" formControlName="descripcion">
                  </div>
                  <div class="col-sm-6">
                    <label>{{ 'LINKS.FORM-TITLE' | translate}}</label>
                    <input type="text" class="form-control" formControlName="link">
                  </div>
                </div>
                <div class ="row">

                  <div class="">
                    <div>&nbsp;</div>
                    <button type="submit" class="btn btn-search" style="float: right;" ><i class="fa fa-search"></i> {{'LINKS.BUSCAR'|translate}} </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card rounded-0 mx-4 mt-4 mb-5">
            <div class="card-title border-bottom">
              <div class="table-title mx-3 my4" >
                <div class=" my-3" >{{counter}} {{'LINKS.RESULTS'|translate}}</div>
                  <div class="justify-content-md-end-me-2 me-2 my-1" style="margin-left: auto">
                    <button type="button" class="btn btn-add btn-sm mt-1" (click)="modalService.open('new')"><i class="fa fa-plus"></i></button>
                  </div>
              </div>

            </div>
            <div class="card-content mx-3 my-2 mb-5">
              <div (show)="counter=0">

              </div>
              <div (show)="counter>0">
                <table class="mx-2 table table-bordered" >
                  <tr style="background-color: #f4f4f5">
                    <th> {{'LINKS.TYPE'|translate}}</th>
                    <th> {{'LINKS.DESCRIPTION'|translate}}</th>
                    <th> {{'LINKS.USER'|translate}}</th>
                    <th style="width:100px; "></th>
                  </tr>
                  <tr *ngFor="let element of rowData" >
                    <td><span [innerHTML]="element[0]"></span></td>
                    <td><a style="text-decoration:none"  href="{{element[1]}}" [innerHTML]="element[2]"></a></td>
                    <td><span [innerHTML]="element[3]"></span></td>
                    <button class="btn btn-danger btn-sm btn-sm btn-sm mx-1 my-2" [value]="element[4]" (click)="openDelete(element[4])"><i class="fa fa-trash"></i> Delete</button>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <jw-modal id="new">
      <div>
        <form [formGroup]="newForm" (submit)="createLink()">
          <div class="row">
            <div class="col">
              <label>{{ 'LINKS.TYPE' | translate}}</label>
              <select class="form-control" [value]="" formControlName="categoria" >
                <option *ngFor="let element of types" [value]="element.k" [selected]="element.k==='Otros'">{{element.v | translate}}</option>
              </select>
            </div>
            <div class="col">
              <label>{{ 'LINKS.DESCRIPTION' | translate}}</label>
              <input type="text" class="form-control" formControlName="descripcion">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>{{ 'LINKS.FORM-TITLE' | translate}}</label>
              <input type="text" class="form-control" formControlName="link">
            </div>
          </div>
          <div class="row">
            <button type="submit" class="col" (click)="createLink()" >LINK.CREATE</button>
            <button class="col" (click)="modalService.close();">LINK.CLOSE</button>
          </div>
        </form>
      </div>
    </jw-modal>

    <jw-modal id="trash">
      <h1>LINK.DELETE.TITLE</h1>
      <p>LINK.DELETE.TEXT</p>
      <div class="row">
        <button class="col" (click)="deleteLinks()">LINK.CONFIRM</button>
        <button class="col" (click)="modalService.close();">LINK.DENY</button>
      </div>
    </jw-modal>
  </div>

</div>
