<ng-container *ngFor="let item of menuList">
  <div *ngIf="item.subMenu.length<=0">
    <div style="margin: 10%; font-size: small;">
      <a data-bs-toggle="collapse" [href]="item.link_pag" aria-expanded="false" [attr.aria-controls]="item.descripcion" style="color: white">
<!--        <fa-icon [icon]="getIcon(item.icono)"></fa-icon>-->
<!--        <span *ngIf="isExpandedFlag">-->
          {{item.descripcion.replaceAll("_", ".")|translate}}
<!--        </span>-->
      </a>
    </div>
  </div>
  <div *ngIf="item.subMenu.length>0" class="accordion">
    <div style="margin: 10%; font-size: small;" >



      <a class="accordion-header" [href]="item.link_pag" aria-expanded="false" [attr.aria-controls]="item.descripcion"
         style="color: white" data-bs-toggle="collapse" data-bs-target="#item.id" aria-expanded="true" aria-controls="">
<!--        <fa-icon [icon]="getIcon(item.icono)"></fa-icon>-->
<!--        <span *ngIf="isExpandedFlag">-->
          {{item.descripcion.replaceAll("_", ".")|translate}}
<!--        </span>-->
      </a>
      <div *ngFor="let sub of item.subMenu" [id]="sub.descripcion">
        {{sub.descripcion.replaceAll("_", ".")|translate}}
      </div>
    </div>
  </div>
</ng-container>
<!--<div *ngIf="item.length > 0">Hola</div>-->
