<div class="row border-bottom">
  <nav class="navbar-static-top white-bg nav-style" role="navigation">
    <div class="navbar-header">
      <span>
          <img alt="Hotusa" class="navbar-minimalize hotusa-img" src="../../../assets/images/profile/grupoHotusa.png">
      </span>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" ngbDropdown>
        <a class="dropdown-toggle dd" ngbDropdownToggle>
          <fa-icon [icon]="faImage"></fa-icon>
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu animated fadeInRight m-t-xs ddMenu" ngbDropdownMenu>
          <li>Test01</li>
          <li>Test01</li>
          <li>Test01</li>
          <li>Test01</li>
          <li>Test01</li>
          <li>Test01</li>
            <!-- <li *ngFor="image in main.backgroundImage.list">-->
            <!--            <a href="" (click)="setCookieImage(image)">-->
            <!--              <img src="{{image}}" class="ddImage">-->
            <!--            </a>-->
            <!--          </li>-->
        </ul>
      </li>
      <li class="dropdown" ngbDropdown>
        <a class="dropdown-toggle count-info dd" ngbDropdownToggle>
          Idioma
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs" ngbDropdownMenu>
          <li><a><img src="../../../assets/images/flags/16/United-States.png" alt="flag">Inglés</a></li>
          <li><a><img src="../../../assets/images/flags/16/Spain.png" alt="flag">Español</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
