<!--<div class="row d-flex align-items-center mx-0 p-2">-->
<div>

  <div class="col-1">
    <div class="btn btn-sm btn-primary" (click)="onExpander()">
      <i class="fa fa-bars"></i>
    </div>
  </div>

  <div class="col-8">
    <div class="form-group">
      <input class="form-control" style="border:none" type="search" placeholder="Buscar algo..." aria-label="Search">
    </div>
  </div>

  <div class="col-3 ">
    <div class="nav justify-content-between d-flex align-items-center">
      <li class="nav-item small">
        <i class="fa fa-user"></i>
      </li>
      <li class="nav-item small">
        <i class="fa fa-users"></i>
      </li>
      <li class="nav-item small">
        <i class="fa fa-users"></i>
      </li>
      <li class="nav-item small">
        <i class="fa fa-clock-o"></i>
      </li>
      <li class="nav-item small">
        <div class="dropdown nav" ngbDropdown>
          <a class="dropdown-toggle" style="text-decoration: none; content: none" ngbDropdownToggle>
            <img [hidden]="lang!=='es'" class="m-1" src="../../../../assets/images/flags/16/Spain.png" alt="Es"/>
            <img [hidden]="lang!=='en'" class="m-1" src="../../../../assets/images/flags/16/United-States.png"
                 alt="US"/>
          </a>
          <ul class="dropdown-menu m-t-xs ddMenu" ngbDropdownMenu>
            <ng-container *ngFor=" let item of langList">
              <li role="menuitem">
                <a class="dropdown-item" (click)="changeLang(item.code)">
                  <img src="{{item.flag}}">
                  {{ item.lang }}
                </a>
              </li>
            </ng-container>
          </ul>
        </div>
      </li>
      <li class="nav-item small" (click)="logOut()">
        <i class="fa fa-sign-out"></i>
      </li>
    </div>
  </div>


</div>
