<nav class="navbar bg-white">
  <form class="container-fluid justify-content-start">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" (click)="onExpander(false)"></span>
    </button>

    <div class="form-group bg-info">
      <input class="form-control me-2" type="search" placeholder="Buscar algo..." aria-label="Search">
    </div>


    <img class="m-1" src="../../../../assets/images/flags/16/United-States.png" alt="US"/>
    <img class="m-1" src="../../../../assets/images/flags/16/China.png" alt="Ch"/>
    <img class="m-1" src="../../../../assets/images/flags/16/Spain.png" alt="Es"/>
    <img class="m-1" src="../../../../assets/images/flags/16/Catalonia.png" alt="Ca"/>
    <img class="m-1" src="../../../../assets/images/flags/16/France.png" alt="Fr"/>

  </form>
</nav>

