@import "~@ng-select/ng-select/themes/default.theme.css";


html, body {
  height: 100vh;
  font-size: 13px;
  color:#676a6c;
}
table,
tr, th, td {
  border: 1px solid #e7e7e7;
}

// Basic Colors
$primary: #1ab394;       // Primary color
$secondary: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color
$background: #2F4050;
$background-opacity: rgba(47,64,80,.8);

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badget
$label-badget-color: #5E5E5E;
$light-blue:#f3f6fb;
$white: #ffff;
$max-width: 100%;


/* Importing Bootstrap SCSS file. */
//@import '../node_modules/bootstrap/scss/bootstrap';
//@import '../node_modules/bootstrap/scss/variables';

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  color: $white !important;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:hover,
.btn.active:focus {
  color: $white !important;
}

.input-button {
  border-radius: 3px;
  height: 34px;
  font-size: 14px;
}

#button {
  height: 80px;
  box-sizing: content-box;
  width: 120px;
}

.input-text {
  border-radius: 0%;
  height: 34px;
  font-size: 14px;
  margin-bottom: 3%;
}

.no-overflow {
  overflow:hidden;
}

.no-m-p {
  margin: 0%;
  padding: 0%;
}

.vertical-timeline-block {
  position: relative;
  margin: 1em 0;
}

.dark-bg {
  background-color: $background;
}

.gray-bg {
  background-color: $gray;
}

.side-container {
  float: left;
  width: 12%;
  height: 100%;
  min-width: 220px;
}

.top-container {
  float: top;
  width: auto;
  height: 60px;
  top: 0%;
  vertical-align: top;
  min-height: 60px;
}

.dark-bg-container {
  background-color: $background;
  color: white;
  padding: 0%;
  margin: 0%;
}

.blue {
  color: $blue;
}

.grey {
  color: $text-color;
}

hr.divider {
  margin: 0%;
  color: $secondary;
}

.custom-list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.sidenav-list-item {
  font-family: sans-serif;
  padding:(5% 10% 5% 10%);
  //font-weight: bold;
  color: $text-color;
  cursor: pointer;
}

.sidenav-list-item:hover {
  //border-left: 4px solid #19aa8d;
  border-left: 4px solid $primary;
  background: #293846;
  color: $white
}

.sidenav-list-item:not(.collapsed) {
  //border-left: 4px solid #19aa8d;
  border-left: 4px solid $primary;
  background: #293846;
  color: $white
}

.basic-dropdown {
  color: darkgray;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top:10px;
  min-height: 30px;
}

.no-b-input {
  border:none;
  border-radius: 0px;
}

.v-top {
  vertical-align: top;
}

.l-grey {
  color: $light-gray
}

.chevron,
.ngb-tp-chevron::before,
.ngb-tp-chevron,
.bottom{
  color: $label-badget-color;
  font-size: 12px;
}

.ngb-tp-spacer {
  width: 3px !important;
}

.ngb-tp-input-container,
.ngb-tp-hour {
  color: #5E5E5E !important;
  border-radius: 1px;
}

.form-control,
.ng-untouched,
.ng-pristine,
.ng-invalid {
  border-radius: 1px;
}

.swal2-deny {
  width:70px;
}
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.form-control:focus, .form-select:focus{
  border-color: #1ab394 !important;
  outline: 0;
  box-shadow: 0 0 0 0px;
}

.background-title{
  background-color: #f4f4f5 !important;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
