
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import "~nouislider/dist/nouislider.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
  height: 100vh;
  font-size: 13px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676a6c !important;
}
table,
tr, th, td {
  border: 1px solid #e7e7e7;
}

// Basic Colors
$primary: #1ab394;       // Primary color
$secondary: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color
$background: #2F4050;
$background-opacity: rgba(47,64,80,.8);

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badget
$label-badget-color: #5E5E5E;
$light-blue:#f3f6fb;
$white: #ffff;
$max-width: 100%;


/* Importing Bootstrap SCSS file. */
//@import '../node_modules/bootstrap/scss/bootstrap';
//@import '../node_modules/bootstrap/scss/variables';

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  color: $white !important;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:hover,
.btn.active:focus {
  color: $white !important;
}

.input-button {
  border-radius: 3px;
  height: 34px;
  font-size: 14px;
}

#button {
  height: 80px;
  box-sizing: content-box;
  width: 120px;
}

.input-text {
  border-radius: 0%;
  height: 34px;
  font-size: 14px;
  margin-bottom: 3%;
}

.no-overflow {
  overflow:hidden;
}

.no-m-p {
  margin: 0%;
  padding: 0%;
}

.vertical-timeline-block {
  position: relative;
  margin: 1em 0;
}

.dark-bg {
  background-color: $background;
}

.gray-bg {
  background-color: $gray;
}


.top-container {
  float: top;
  width: auto;
  height: 60px;
  top: 0%;
  vertical-align: top;
  min-height: 60px;
  margin-left: 220px;
}

.dark-bg-container-bg {

  background-color: $background;
  color: white;
  padding: 0%;
  margin: 0%;
}
.dark-bg-container-sm{
  padding: 0%;
  list-style: none;
  margin: 0%;
  height: 40px;

}
.blue {
  color: $blue;
}

.grey {
  color: $text-color !important;
}

hr.divider {
  margin: 0%;
  color: $secondary;
  margin-left: 220px;
}

.custom-list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.sidenav-list-item {
  font-family: sans-serif;
  padding:(5% 10% 5% 10%);
  //font-weight: bold;
  //color: $text-color;
  cursor: pointer;
  transition: border 0.5s;

}


.sidenav-list-item:hover {
  //border-left: 4px solid #19aa8d;
  //border-left: 4px solid $primary;
  background: #293846;
  color: $white
}

.sidenav-list-item:not(.collapsed) {
  border-left: 4px solid $primary;
  background: #293846;
  color: $white;

}

.basic-dropdown {
  color: darkgray;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top:10px;
  min-height: 30px;
}

.no-b-input {
  border:none;
  border-radius: 0px;
}

.v-top {
  vertical-align: top;
}

.l-grey {
  color: $light-gray
}

.chevron,
.ngb-tp-chevron::before,
.ngb-tp-chevron,
.bottom{
  color: $label-badget-color;
  font-size: 12px;
}

.ngb-tp-spacer {
  width: 3px !important;
}

.ngb-tp-input-container,
.ngb-tp-hour {
  color: #5E5E5E !important;
  border-radius: 1px;
}

.form-control,
.ng-untouched,
.ng-pristine,
.ng-invalid {
  border-radius: 1px;
}

.swal2-deny {
  width:70px;
}
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;

}

.form-control:focus, .form-select:focus {
  border-color: #1ab394 !important;
  outline: 0;
  box-shadow: 0 0 0 0px;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.page-link:hover {
  z-index: 2;
  color:#23527c;
  text-decoration: none;
  background-color:#eee;
  border-color: #ddd;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #FFFFFF;
  color: #676a6c;
  border: 1px solid #DDDDDD;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}




.active .page-link:focus    {
  background-color:#f4f4f4;
  border-color: #DDDDDD;
  color: inherit;
  box-shadow:unset;
}

.page-item.active .page-link{
    background-color:#f4f4f4;
    border-color: #DDDDDD;
    color: inherit;
}

.float-right{
  float: right;

}

.body-right{
  width: 97%;

}

.body-position{
  margin-left: 230px;

}


.btn-search:hover, .btn-search:focus, .btn-search:active{
  border-color: #d2d2d2 !important;
  background-color: #e6e6e6 !important;

}
.btn-search{
  border-color: #e7eaec;
}

.btn-search:active{
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%) !important;
  background-image: none;
  outline: 0;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  position: relative;
}











.note-editable { background-color: #ffffff !important;}
.note-frame{border: 0px solid #00000032 !important;}
.note-statusbar{
 background: #f5f5f5 !important;
}
.note-editor .dropdown-toggle::after { all: unset; }
.note-editor .note-dropdown-menu { box-sizing: content-box; }
.note-editor .note-modal-footer { box-sizing: content-box; }

.fadeInRight{
  animation: fadeInRight 1s
}

@keyframes fadeInRight {
  from {
    top: 21px;
    opacity: 0;
    transform: translateX(20px);

  }
  to {
    opacity: 1;

  }
}
.background-title{
  background-color: #f4f4f5 !important;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
