@import "src/styles";


table,
tr, th, td {
  border: 1px solid;
  border-color: #e7e7e7;
  font-size: 13px;
}
th,td{
  padding-left: 5px;
  padding-right: 5px;
}
label, th{
  font-weight: bolder;
  font-size: 14px;
  color: $text-color;

}

.body-position{
  margin-left: 230px;

}

.background-title{
  background-color: #f4f4f5
}

.centred{
  text-align: center
}
.dropdown-toggle::after{
  display: none;
}

.form-control, .single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.btn{
  border-radius: 3px;
}

.btn-group>.btn{
  position: relative;
  float: left;
}



.btn-danger{
  background-color: #ED5565;
  border-color: #ed5565;
}

.btn-danger:hover{
  background-color: #ec4758;
  border-color: #ec4758;
}
.btn-danger:active{
  background-color: #ec4758;
  border-color: #ec4758;
}

.btn-primary{
  background-color: #1ab394;
  border-color: #1ab394;
}

.btn-primary:hover{
  background-color: #18a689;
  border-color: #18a689;
}

.space{
  margin:2.5px;
}

.btn:active{
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%) !important;

  background-image: none;
  outline: 0;

}
.holder{position: relative}
.dropButtons{position: absolute;top: 20%; right: 40px;}

.card{
  border-color: #e7eaec;
}

.tab-background{
  outline: none !important;
  box-shadow: none !important;
}





.nav-tabs .nav-item .fa {
  color: #A7B1C2;
  font-weight: 300;
  padding: 5px 10px 5px 10px;
}
.nav-tabs .active .fa  {
  color: #555555;
  font-weight: 300;
  padding: 5px 10px 5px 10px;

}


.fa{
  background: none;
  color: #555555;
  cursor: default;
}


.nav-tabs .nav-item:hover, .nav-tabs .nav-item:focus {
  background-color: #e6e6e6;
  border-radius: 3px;
}

.nav-tabs .nav-item:hover .fa {
  color: #676a6c
}



.nav-tabs li{
  margin-left:1px;
  margin-right:1px;
}

.tile-s{
  width: 10%;
}
.tile-m{
  width: 15%;
}
.tile-l{
  width: 17%;
}
.tile-xl{
  width: 28%;
}
.tile-xs{
  width: 40px;
}
