.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}
.dropzone {
  min-height: 140px;
  border: 1px dashed #1ab394;
  background: white;
  padding: 20px 20px;
}

body{
  font-family: 'Open Sans';
  font-size: 16px;
}


table,
tr, th, td {
  border: 1px solid #333;
  border-color: #e7e7e7;
}
.table-title{
  display: flex;
}
.body-right{
  width: 96%
}
.float-right{
  float: right
}
.margin-auto{
  margin: auto
}
.background-title{
  background-color: #f4f4f5
}
.white-space{
  width:100px;
}
.no-decoration{
  text-decoration:none
}
.centred{
  text-align: center
}

.form-control, .single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.margin-top{
  margin-top: 1.5%;
}
.btn{
  border-radius: 3px;
}
.btn-add{
  border-color: lightgrey;
}
.btn-add:hover{
  border-color: #5E5E5E;
  background-color: lightgrey;
}
.btn-search:hover{
  background-color: lightgrey;
  border-color: grey;
}
.btn-search{
  border-color: lightgrey;
}

.btn-group>.btn{
  position: relative;
  float: left;
}

.table > :not(caption) > * > *{
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 0%)

}

.btn-danger{
  background-color: #ED5565;
  border-color: #ed5565;
  width: 90px;;
}

.btn-danger:hover{
  background-color: #ec4758;
  border-color: #ec4758;
}

.btn-danger:active{
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%) !important;
  background-color: #ec4758;
  border-color: #ec4758;
  background-image: none;
  outline: 0;

}
.tab-background{
  outline: none !important;
  box-shadow: none !important;
}



button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float:right;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  position: absolute;
  top: 2%;
  right: 1.5%;
}

.modal-element{
  border-radius: 1px;

}
.modal-header {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 1px;
  background-color: #fff;
}
.modal-title{
  text-align:center;
  width:100%
}
.modal-body{
  background-color: #f8fafb;
  border-radius: 1px;
}


modal-component{
  border-radius: 1px;
}





.fa{
  background: none;
  color: #555555;
  cursor: default;
}
.cube{
  width:120px!important;
  height: 120px !important;
  min-height: 100px !important;
  min-width: 100px !important;
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
  overflow: hidden;
  position: relative;
  display: block;
  z-index: 10;
}


.dz-details{
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0,0,0,0.9);
  line-height: 150%;
}
.dz-size{
  margin-bottom: 1em;
  font-size: 16px;
}
.dz-filename{
  background-color: rgba(255,255,255,0.4);
  padding: 0 0.4em;
  border-radius: 3px;
  white-space: nowrap;
  width:auto;
  z-index:50;
}

.test{
  z-index:50;
  text-overflow: ellipsis;
  width: 100px;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
}
