<!--<div *ngIf="userData.hasOwnProperty('menu')" class="dark-bg-container h-100" appSideClosed>-->
<div class="dark-bg-container h-100 m-h-100 m-w-100">
  <div class="header-profile">
    <div class="header-content">
      <h5 class="border-bottom pt-4">
        <i class="text-white fa fa-share-alt" style="font-size: 18px"></i>
        Neo
      </h5>

      <img src="../../../../assets/images/profile/LogoKeytelBlanco.png"
           alt="logo keytel" class="head-logo" *ngIf="isExpandedFlag"
      >

      <div *ngIf="isExpandedFlag">
        <span> {{userData.detalles.nombre}} {{userData.detalles.apellido1}}</span>
        <div class="dropdown nav" ngbDropdown>
          <a class="dropdown-toggle count-info dd l-grey us-dd" ngbDropdownToggle>
            {{"PERFIL.USER." + userData.detalles.perfil | translate}}
          </a>
          <ul class="dropdown-menu m-t-xs ddMenu" ngbDropdownMenu>
            <li role="menuitem"><a class="dropdown-item"> Perfil </a></li>
<!--            <li class="dropdown-divider disabled"></li>-->
            <li><a class="dropdown-item" (click)="logOut()"> Cerrar sesión </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--COMPONENTES-->

  <ng-container >
    <div *ngFor="let item of menuList; let i = index">

    <!--DIVS para menus SIN submenu-->
      <ul class="dark-bg-container">
        <div *ngIf="item.subMenu.length <= 0">
          <li class="sidenav-list-item collapsed">
            <div [id]="'accordion-' + i" >
<!--                 (click)="itemAction(item.descripcion + ' - id padre -> ' + i)"-->

              <span type="button" [routerLink]="item.link_pag">
                <i [class]="item.icono"></i>
                <span *ngIf="isExpandedFlag">
                  {{ formatName(item.descripcion) | translate }}
                </span>
              </span>
            </div>
          </li>
        </div>

        <!--DIVS para menus CON submenu-->
        <div *ngIf="item.subMenu.length > 0">
          <li class="sidenav-list-item collapsed"  data-bs-toggle="collapse" [attr.data-bs-target]="'#accordion-' + i + '-collapse'">
            <div [id]="'accordion-' + i">
              <span class="sidenav-item">
                <i [class]="item.icono"></i>
                <span *ngIf="isExpandedFlag" >
                  {{ formatName(item.descripcion) | translate }}
                </span>
<!--                TODO: Cambiar las flechas por iconos, alinear derecha y rotar al click-->
                <i class="fa fa-angle-left" style="margin-left: 10%"></i>
<!--                <span class="submenu-arrow"></span>-->

              </span>
              <div [id]="'accordion-' + i + '-collapse'" class=" collapse"
                   [attr.aria-labelledby]="'accordion-' + i + '-header'">
                <div>
                  <ul class="list-group crm-ul">
                    <li class="crm-ul-sub mt-1" *ngFor="let sub of item.subMenu"
                        [id]="sub.descripcion"
                        [routerLink]="sub.link_pag"
                    >
                      {{ formatName(sub.descripcion) | translate }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </ng-container>
</div>
