.header-profile{
  background: url("../../../../assets/images/profile/header-profile.png");
  height: 185px;
}

.header-content {
  padding-top: 25px;
  padding-left: 27px;
  padding-right: 27px;
}

// SIDENAV

.crm-ul-sub {
  margin-left: 7%;
  background-color: #293846;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right; /* Align text to the right */
}

li {
  color: #a7b1c2;
}

li.sub {
  color: #2f4050
}

li:hover {
  color:white;
  background-color: #293846;
}

//.submenu-arrow {
//  margin-left: 1%;
//  width: 0;
//  height: 0;
//  border-top: 5px solid transparent;
//  border-bottom: 5px solid transparent;
//  border-left: 5px solid #a7b1c2; /* Arrow color */
//  //position: absolute;
//  ////right: 10px;
//  top: 50%;
//  //transform: translateY(-50%) rotate(-180deg); /* Rotate arrow counter-clockwise */
//}

.menu-icon {
  margin-right: 10px; /* Adjust the value as needed */
}

.sidenav-item-sub {
  color: #a7b1c2;
  font-weight: 300;
  font-size: 13px;
  align-items: end;
}

.head-logo {
  width: 50px;
  max-width: 48px;
  max-height: 48px;
}

.us-dd {
  cursor: pointer;
  text-decoration: none;
}

.short{
  width: 70px !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
