<!--<div *ngIf="userData.hasOwnProperty('menu')" class="dark-bg-container h-100" appSideClosed>-->



<div id="myGroup" *ngIf="userData.hasOwnProperty('menu')" class="dark-bg-container h-100 m-h-100 m-w-100" [ngClass]="!isExpandedFlag ? 'thin' : ''">
  <div [ngClass]="!isExpandedFlag ? 'short-header-profile':''">
    <div [ngClass]="!isExpandedFlag ? 'sm-header-content' : 'header-content'">
      <h5 [ngClass]="isExpandedFlag ? 'border-bottom' : ''" class="pt-4">
        <i class="text-white fa fa-share-alt" style="font-size: 18px"></i>
        Neo
      </h5>

      <img src="../../../../assets/images/profile/LogoKeytelBlanco.png"
           alt="logo keytel" class="head-logo" *ngIf="isExpandedFlag"
      >

      <div *ngIf="isExpandedFlag">
        <span> {{userData.details.nombre}} {{userData.details.apellido1}}</span>
        <div class="dropdown nav" ngbDropdown>
          <a class="dropdown-toggle count-info dd l-grey us-dd" ngbDropdownToggle>
            {{"PERFIL.USER." + userData.details.perfil | translate}}
          </a>
          <ul class="dropdown-menu m-t-xs ddMenu" ngbDropdownMenu>
            <li role="menuitem"><a class="dropdown-item"> Perfil </a></li>
<!--            <li class="dropdown-divider disabled"></li>-->
            <li><a class="dropdown-item" (click)="logOut()"> Cerrar sesión </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--COMPONENTES-->

  <ng-container >
    <div *ngFor="let item of menuList; let i = index">

    <!--DIVS para menus SIN submenu-->
<!--      Todo: cambiar el nom de la classe-->
      <ul [ngClass]="isExpandedFlag === false ? 'temp ' : 'dark-bg-container'">
        <div *ngIf="item.subMenu.length <= 0">
          <li class=" collapsed" [ngClass]="!isExpandedFlag ? 'sm-sidenav-list-item' : 'sidenav-list-item'">
            <div [ngClass]="!isExpandedFlag ? 'center' : ''" [id]="'accordion-' + i" >
<!--                 (click)="itemAction(item.descripcion + ' - id padre -> ' + i)"-->

              <span  type="button" [routerLink]="item.link_pag">
                <i [class]="item.icono"></i>
                <span *ngIf="isExpandedFlag">
                  {{ formatName(item.descripcion) | translate }}
                </span>
              </span>
            </div>
          </li>
        </div>

        <!--DIVS para menus CON submenu-->
        <div *ngIf="item.subMenu.length > 0">
          <li [id]="'collapse-'+i" class="sidenav-list-item collapsed"  data-bs-toggle="collapse"  (click)="controlTime(i)" [attr.data-bs-target]="'#accordion-' + i + '-collapse'"
              (mouseout)="showSm=null" (mouseover)="showSm=i"
          [ngClass]="!isExpandedFlag ? 'sm-sidenav-list-item' : ''">
            <div [ngClass]="!isExpandedFlag ? 'center' : ''" [id]="'accordion-' + i">
              <span class="sidenav-item">
                <i [class]="item.icono" class="fa"></i>
                <span *ngIf="isExpandedFlag" >
                  {{ formatName(item.descripcion) | translate }}

                </span>

                <i *ngIf="isExpandedFlag" [ngClass]="isOpen === i ? 'fa-angle-down' : 'fa-angle-left'" class="fa right" style="margin-left: 10%"></i>
<!--                <span class="submenu-arrow"></span>-->

              </span>
              <div [ngClass]="!(isExpandedFlag || showSm === i) ? 'hide':''">
                <div [id]="'accordion-' + i + '-collapse'" data-bs-parent="#myGroup" class="collapse"
                     [attr.aria-labelledby]="'accordion-' + i + '-header'"
                     [ngClass]="!isExpandedFlag ? 'small-collapse' : 'big-collapse'"
                >
                  <div>
                    <ul class="list-group crm-ul">
                      <li class="crm-ul-sub mt-1" *ngFor="let sub of item.subMenu"
                          [id]="sub.descripcion"
                          [routerLink]="sub.link_pag"
                          [ngClass]="!isExpandedFlag ? 'small-sub' : ''"
                      >
                        {{ formatName(sub.descripcion) | translate }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </li>
        </div>
      </ul>
    </div>
  </ng-container>
</div>
